<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <title>Nicholas Marogi's Portfolio</title>
    <link rel="shortcut icon" type="image/jpg" href="../images/icons8-edit-24.png"/>
    <link rel="stylesheet" href="../css/stylesheet.css">
</head>


<body>

<h1>Some fun facts about me</h1>

    <header id="page header">
        <nav>
           <menu>
            <a href="/page1/trivia.ejs"><span>Trivia</span></a>
                <a href="/page2/resume.ejs"><span>Resume</span></a>
                <a href="/page3/funFact.ejs"><span>Fun Facts</span></a>
            </menu>
        </nav>
    </header>


<section id ="book">
<h2>Favorite Book</h2>
<br>
<section id ="book-image">
<image src="https://images-na.ssl-images-amazon.com/images/I/51XTk8bvA4L._SX336_BO1,204,203,200_.jpg" alt="a picutre of A storm of swords" width="400" height="400"></br>
</section>

<section id="book-link">
    Title - A Storm of Swords</br>
    <a href= "https://www.amazon.com/Storm-Swords-Song-Fire-Three/dp/0553381709" alt="where to buy">Buy here</a></br>
    Description - The third book in the Game of Thrones series. War rages on as the battle of the five kings rages.
</section>
</p>
</section>

<section id="song">
    <h2>Favorite Song</h2>
    Title - All the Small Thing - Blink 182</br>
    <audio src="forUse/song.mp3" alt="audio of the song" controls>This is an except of my song</audio></br>
    <a href= "https://www.youtube.com/watch?v=9Ht5RZpzPqw" alt="blink 182 song">Listen Here</a></br>
</section>


<section id ="tv-show">
    <h2>Favorite TV Show</h2>
    <p>
        Title - Breaking Bad</br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HhesaQXLuRY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="trailer"></iframe></p>

        </p>
        </section>

       

<footer>
    <hr>
       <p>Contact Info </br>
        nlmarogi@oakland.edu</p>
 </footer>
    
</body>
</html>
