<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>


    <title>Nicholas Marogi's Portfolio</title>
    <link rel="shortcut icon" type="image/jpg" href="images/icons8-edit-24.png"/>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>


<body>
    <h1>Nicholas Marogi's Portfolio Homepage</h1>


    <header id="page header">
        <nav>
            <menu>
                <a href="/page1/trivia.ejs"><span>Trivia</span></a>
                <a href="/page2/resume.ejs"><span>Resume</span></a>
                <a href="/page3/funFact.ejs"><span>Fun Facts</span></a>
            </menu>
        </nav>
    </header>

    


<section id="mypicture">
<img src="images/IMG_1256.JPG" alt="a picutre of Nick Marogi" width="650" height="650">
</section>

<br>
<section id="aboutMe">
    Hi! My name is Nicholas Marogi and I am currently a student at Oakland University.
    I am working toward a degree in Information Technology. 
    Upon completion this will be my second degree I have earned from Oakland University. 
    My dream job would be one that uses data analytics and applies them to the game of football to better understand what is occurring on a play to play basis.   
    To know more about me check out my <a href="/page2/resume.ejs">Page 2</a>
    ,my reume, and <a href="/page3/funFact.ejs">Page 3</a> a fun facts page.
</section>

<blockquote> "He never even had the makings of a varsity athlete."-Junior Soprano</blockquote>

<section id="progress">
    Progress to Degree.
    <label for="survey">Degree Progress 65%</label>
    <progress id="degree_progress" max="1000" value="650"></progress></br>
</section>    


    <footer>
        <hr>
           <p>Contact Info </br>
            nlmarogi@oakland.edu</p>
     </footer>
        
    

</body>
</html>
